@import 'variables';
@import 'mixins/LayoutMixins.scss';
@import '_reset';

  .container {
    max-width: 1000px;
    margin: 9px auto;
    display: flex;
    
    nav {
      width: 151px;
      border-right: 1px solid #ccc;
      
    
      ul {
        text-align: center;
        li {
          display:block;
          padding: 10px;
          a {
            font-size: 18px;
            color: #5d5e5e;
            text-decoration: none;
            &:hover {
              color: #000;
            }
          }
        }
      }
    }

    main {
      width: 600px;
      padding: 20px;

      font-size: $font-standard-size;
      line-height: 1.6;
      margin-bottom: 20px;
      color: #3d3d3d;

      h1 {
        color: #3d3d3d;
        font-size: 32px;
        margin-bottom: 10px;
      }
      h3 {
        color: #3d3d3d;
        font-size:26px;
        margin-bottom: 10px;
      }
      p {
        font-size: $font-standard-size;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #3d3d3d;
      }
      ul,
      ol {
        li {
          font-size:$font-standard-size;
        }
      }


        a {
          font-size: $font-standard-size;
          color: red;
          &.externalLink {
            color: #575f78;
            &:hover {
              color: #152969;
            }
          }
        }
      
    }

    
  }

  footer {
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    text-align:center;
    
    color: #ccc;
    font-style: italic;
    max-width: 1000px;
    margin: 20px auto 0 auto;
    p {
      font-size:11px;
    }
  }
